    .figure {
        border-radius: 50%;
    }
    .botton {
        background-color: rgb(57, 120, 202);
        border-radius: 10%;
        font-weight: 600;
        text-decoration: none;
        padding: 10px 20px;
        line-height: 30px;
        color: rgb(43, 52, 63);        
    }
    .espac-lis {
            line-height: 25px;
        }
    a, h4 {
        color: rgb(112, 165, 201);
    }
    p, ul, h6 {
        color: rgb(255, 255, 255)
    }
    body {
        background-color: rgb(71, 68, 68);
        line-height: 20px;
    }
    h1, h3 {
        color: rgb(57, 120, 202);
    
     }
    .ipc {
        font-weight: 900;
    }
    .encerramento{
        background-color: rgb(87, 84, 84);
        text-align: center;
    }
    