    a{
        color: rgb(73, 155, 175);
    }
    p {
        color: white;
    }
    body {
        background-color: rgb(71, 68, 68);
        line-height: 20px;
    }
    ul {
        color: azure;
    }
    h1 {
        color: rgb(57, 120, 202);
    
     }

    h3 {
        color:rgb(57, 120, 202);
    }
    h4 {
        color: rgb(73, 155, 175);
    }